<!DOCTYPE html>
<html lang="pt-ao">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projectent Animes - Lançamentos</title>

    <link rel="icon" href='https://imglur.com/get/r7vlDV.png'>
    
    <style type="text/css">
    *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,"Time New Roman",sans-serif;
    background-color: rgb(22, 22, 22);
    color: #e8e9e7;
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgba(29, 29, 29, 0.945);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

.header .logo {
  width: 20%;
  height: 75%;
  display: flex;
  margin-left: 20px;
}

.header .logo a {
  width: 100%;
  height: 100%;
  display: flex;
}

.header .logo a img {
  width: 100%;
}

.header .navbar {
  margin-right: 35px;
  display: flex;
}

.header .navbar ul {
  list-style: none;
  display: flex;
}

.header .navbar ul li {
  padding: 10px;
}

.header .navbar ul li a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 6px;
  color: #e8e9e7;
  font-size: 1.5vw;
  transition: background-color .50s ease-in-out;


}

.header .navbar ul li a:hover {
  background-color: #4ae2e7;
  color: #000;
}

#mobile {
  display: none;
}

#mobile li:hover {
  background-color: #3d3d3d;
}

.menubar {
  background-color: rgba(29, 29, 29, 0.767);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.showmenu {
  display: block;
}

.menubar ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100vh;
  list-style: none;
  padding: 12px 0px;
  background-color: #141414;

}

.menubar ul li {
  background-color: #141414;
  padding: 10px 8px;
}

.menubar ul li a {
  color: #e8e9e7;
  text-decoration: none;
  font-size: 3.4vw;
  padding: 12px 6px;
  display: block;
  transition: all 1s ease;
}

.menubar ul li a:hover {
  background-color: #4ae2e7;
  color: #000;
}

.menubar i {
  font-size: 5vw;
  position: absolute;
  top: 15px;
  left: 5px;
  z-index: 9;
}

.menubar ul li form input[type="search"] {
  background-color: transparent;
  border: 1px solid #e8e9e7;
  border-radius: 4px;
  color: #e8e9e7;
  width: 65%;
}

.menubar ul li form input[type="submit"] {
  background-color: #0b6100;
  color: #e8e9e7;
  margin-left: 5px;
  width: 30%;
  font-size: 3.4vw
}

.menubar ul li form input {
  padding: 8px;
}

  .main {
  width: 95%;
  margin: 40px auto;
}

.main .container {
  width: 100%;
}

.main .container h2 {
  position: relative;
  background-color: #0b6100;
  line-height: 8vh;
  padding-left: 16px;
  margin-bottom: 30px;
  font-size: 3.5vw;
}

.main .container h2::before {
  content: "";
  background-color: #f1f1f1;
  height: 6.2vh;
  padding: 6px;
  position: absolute;
  left: 0;
}

.main .container .box-cards {
  width: 99%;
  margin: auto;
  border: 1px solid #010a00;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-content: center;
  gap: 40px;
  padding: 12px;

}

.main .container .box-cards .cards {
  border: 1px solid #f1f1f1;
  height: 280px;
  box-shadow: 0px 0px 6px #4ae2e7;
  min-width: 133px;
  margin-bottom: 80px;

}

.main .container .box-cards .cards a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #f1f1f1;

}

.main .container .box-cards .cards a img {
  width: 100%;
  height: 100%;
  transition: filter 1s ease;
}

.main .container .box-cards .cards a:hover img {
  filter: blur(8px);
}

.main .container .box-cards .cards a .legend {
  position: absolute;
  padding: 4px;

}

.episodio {
  top: 0;
  left: 0;
  width: 40%;
  background-color: #0b6100;
  border-bottom-right-radius: 15px;
  font-size: 1.2vw;


}

.temporada {
  bottom: 0;
  left: 0;
  width: 45%;
  background-color: #0b6100;
  border-top-right-radius: 15px;
  font-size: 1.2vw;

}

.titulo {
  width: 100%;
  bottom: -80px;
  text-align: center;
  font-size: 1.3vw;
  
}

hr {
  border: 1px solid #fff;
  width: 95%;
  margin: auto;
}

.footer {
  text-align: center;
}

.footer h1 {
  line-height: 80px;
  font-size: 5vw;
}

.footer p {
  line-height: 40px;
  font-size: 3.5vw;

}

@media (max-width:989px) {
  .main .container .box-cards {
    gap: 10px;
    padding: 10px;

  }

  .main .container .box-cards .cards {
    height: 250px;
    min-width: 90px;

  }

}

@media (max-width:765px) {
  .main .container .box-cards {
    gap: 5px;
    padding: 5px;

  }

  .main .container .box-cards .cards {
    height: 200px;

  }
}

@media (max-width:524px) {
  #mobile {
    display: flex;
  }

  #desktop-bar {
    display: none;
  }

  .main .container .box-cards {
    gap: 5px;
    padding: 0;
    border: none;

  }

  .main .container .box-cards .cards {
    height: 150px;

  }
}

@media (max-width:488px) {
  #desktop-bar {
    display: none;
  }

  .main .container .box-cards {
    gap: 1px;
    padding: 0;
    border: none;

  }

  .main .container .box-cards .cards {
    height: 150px;

  }
}

@media (max-width:472px) {
  #desktop-bar {
    display: none;
  }

  .main .container .box-cards {
    grid-template-columns: auto auto auto auto;
    gap: 4px;
    padding: 0;
    border: none;

  }

  .main .container .box-cards .cards {
    height: 150px;

  }
}

@media (max-width:472px) {
  #desktop-bar {
    display: none;
  }

  .main .container .box-cards {
    grid-template-columns: auto auto auto;
    gap: 4px;
    padding: 0;
    border: none;

  }

  .main .container .box-cards .cards {
    height: 150px;

  }
}

@media (max-width:297px) {
  #desktop-bar {
    display: none;
  }

  .main .container .box-cards {
    grid-template-columns: auto auto;
    gap: 4px;
    padding: 0;
    border: none;

  }

  .main .container .box-cards .cards {
    height: 150px;

  }
}
    </style>
        <script src="https://pl29332336.profitablecpmratenetwork.com/32/ac/87/32ac87b22a31578e408a336d707868c2.js"></script>
</head>
<body>
      <div class="header">
        <div class="logo">
            <a href="/">
                <img src='https://imglur.com/get/XN4hTb.png' alt='XN4hTb'>
            </a>
        </div>
        <div class="navbar">
            <ul id="mobile">
                <li id="ico-menu"><i class="fa-solid fa-bars"></i></li>
            </ul>
            <ul id="desktop-bar">
                <li><a href="/">Pagina inicial</a></li>
                <li><a href="/lancamentos">Lançamentos</a></li>
                <li><a href="/search">Pesquisar</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </div>
        <div class="menubar">
            <i class="fa-solid fa-close"></i>
             <ul>
                <li><form action="/search"><input type="search"><input type="submit" value="Pesquisar"></form></li>
                <li><a href="/">Pagina inicial</a></li>
                <li><a href="/lancamentos">Lançamentos</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </div>
    </div>
    
    <div class="main">
         <div class="container">
            <h2>Animes em Lançamentos</h2>
        <div class="box-cards">
  <% dados.forEach(item => { %>
         <div class="cards">
                    <a href="/assistir?url=<%=item.url%>" target="_blank">
                        <img src="<%= item.src %>" alt="">
                        <div class="legend titulo">
                            <h3><%= item.title %></h3>
                        </div>
                        <div class="legend episodio">
                            <h4><%= item.episode %></h4>
                        </div>
                    </a>
                </div>
<% }) %>

        </div>
    </div>
    </div>
   

    <hr>

    <div class="footer">
        <h1>Projectent</h1>
        <p>Este site não utiliza o proprio servidor para hospedar os videos.</p>
        <p>Siga as nossas páginas do Facebook para mais informações.</p>
    </div>
    
        <script>
    const menu = document.querySelector('#ico-menu')
    const menuBar = document.querySelector('.menubar')
    const close = document.querySelector('.fa-close')



menu.addEventListener('click',()=>{
    menuBar.classList.toggle('showmenu')

})

close.addEventListener('click',()=>{
    menuBar.classList.toggle('showmenu')

})
    </script>
</body>
</html>
